<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.curtain.managementsystem.mapper.CurtainMapper">
    <resultMap id="CurtainMap" type="com.curtain.managementsystem.domains.Curtain">
        <id property="id" column="id" javaType="int" jdbcType="NUMERIC"/>
        <result property="name" column="name" jdbcType="VARCHAR" javaType="String"/>
        <result property="type" column="type" jdbcType="VARCHAR" javaType="String"/>
        <result property="texture" column="texture" jdbcType="VARCHAR" javaType="String"/>
        <result property="introduction" column="introduction" jdbcType="VARCHAR" javaType="String"/>
        <result property="price" column="price" javaType="double" jdbcType="DOUBLE"/>
        <result property="market_time" column="market_time" javaType="Date" jdbcType="TIMESTAMP"/>
        <result property="created_time" column="created_time" javaType="Date" jdbcType="TIMESTAMP"/>
        <result property="last_updated_time" column="last_updated_time" javaType="Date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="ResourceMap" type="com.curtain.managementsystem.domains.Resource">
        <id property="id" column="file_id" javaType="int" jdbcType="NUMERIC"/>
        <result property="curtainId" column="curtain_id" jdbcType="NUMERIC" javaType="int"/>
        <result property="name" column="file_name" jdbcType="VARCHAR" javaType="String"/>
        <result property="type" column="file_type" jdbcType="NUMERIC" javaType="int"/>
        <result property="deleted" column="deleted" jdbcType="NUMERIC" javaType="int"/>
        <result property="path" column="file_path" jdbcType="VARCHAR" javaType="String"/>
        <result property="update_time" column="last_updated_time" javaType="Date" jdbcType="TIMESTAMP"/>
    </resultMap>
    <insert id="addCurtain" parameterType="com.curtain.managementsystem.domains.Curtain" useGeneratedKeys="true" keyProperty="id">
        insert into curtain_info(name,type,texture,price,introduction,market_time,created_time,last_updated_time)
        values (#{name,jdbcType=VARCHAR},#{type,jdbcType=VARCHAR},#{texture,jdbcType=VARCHAR},#{price,jdbcType=DOUBLE},
                #{introduction,jdbcType=VARCHAR},#{market_time,jdbcType=DATE},now(),now())
    </insert>

    <select id="getCurtainInfoMapper" resultMap="CurtainMap">
        select * from curtain_info
    </select>

    <select id="getCurtainResMapper" resultMap="ResourceMap" parameterType="int">
        select * from res_file where
            deleted = 0 and curtain_id = #{curtainId,jdbcType=INTEGER}
    </select>
</mapper>